In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:16pt;}
div.text_cell_render.rendered_html{font-size:16pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:16pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
table.dataframe{font-size:16px;}
</style>
"""))

# <b><font size="7" color="red">ch02. 자료형과 연산자</font></b>
# 1. 변수
 - 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
 - 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음
 
 ## 1.1 변수 할당
 - 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
 - **파이썬에서의 모든 변수는 객체로 저장**

In [3]:
r = 5
area = 3.14*r*r
print('넓이 :', area)

넓이 : 78.5

In [6]:
import numpy as np # numpy패키지를 np라는 이름으로 사용
np.pi
area = np.pi*r*r
print('넓이 :', area)

넓이 : 78.53981633974483

In [7]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2960453039952
area의 타입 : <class 'float'>

In [8]:
#값이 정수인지 아닌지 판별 함수
area.is_integer()

False

In [9]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2960365453840
area의 타입 : <class 'int'>

In [10]:
area = '파이썬'
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2960477578192
area의 타입 : <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 외에는 불가), 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다. 꼭 써야 한다면 str_식으로 사용한다
- 파이썬 예약어(for, if, 등등)는 변수명 사용 불가
- 한글 변수는 가능하나 꼭 필요시에만 사용

In [12]:
이름 = '타로' # 비추
print(이름)

타로

In [17]:
# 숫자 : 정수, 실수, 복소수
i = 1+3j
print(type(i))

<class 'complex'>

In [18]:
isinstance(i, complex) #변수가 complex 타입인지 판별

True

In [19]:
isinstance(i, int)

False

## 1.3 다중 변수 선언

In [20]:
a, b = 10, 20
print(a,b)

10 20

In [21]:
a, b = b, a+b #다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a,b)

20 30

## 1.4 도움말

In [22]:
help() #help빠져나오기 : q

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 : shuft + tab키
print()

In [23]:
def add(x,y=0):
    '''
    매개변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x*10+y

In [24]:
add(3,4)

34

In [25]:
add(3)

30

# 2. 화면i/o

In [29]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 입력값은 문자(str)로 받음
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')
print('두수의 합은', first+second)

첫번째 숫자는?3
두번째 숫자는?4
두수의 합은 34

In [30]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))
print('두수의 합은', first+second)

첫번째 숫자는?5
두번째 숫자는?6
두수의 합은 11

In [36]:
print('first', first, 'second', second, sep='~', end='\t')
print('hello', 'python', sep=' ')

first~5~second~6	hello python

# 3. 기본 자료형
 - 자료형 : 변수가 가져야 할 값의 형식
 - 자료형의 따라 값의 크기와 저장 방식이 달라짐
     - `숫자` : int, float(소수점), complex(허수부)
     - `문자` : str('',"")
     - `논리` : bool(ture/false)

## 3.1 숫자형

In [37]:
import sys
print(sys.maxsize) #정수의 최대값 : 2**63-1

9223372036854775807

In [40]:
i = sys.maxsize + 1000000
print(i)
print(type(i))

9223372036855775807
<class 'int'>

In [45]:
# f = 0.000000000012
f = 1.2e-10 # 지수형 1.2*10의 -10승
b = 1.2e20 #지수형 1.2의 10의 20승
print('f=',f)
print('b=',b)

f= 1.2e-10
b= 1.2e+20

In [42]:
# 파이썬에서는 /의 결과는 무조건 실수
f = 3/2
print('f=',f)

f= 1.5

In [44]:
# 자바나 C, C++처럼 정수/정수 결과를 정수로
f = int(3/2) #int() : int로 형변환(내림)
print('f=',f)
f = 3//2 #몫연산자
print('f=',f)

f= 1
f= 1

## 3.2 문자형
 - 겹따음표("~")나 홀따음표('-') 이용

In [46]:
name = "타로'짱'"
address = '서울시 관악구 "신림"동'
print(name, address)

타로'짱' 서울시 관악구 "신림"동

In [47]:
# escape 문자(탈출문자) : \n \t
text = '여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 됨\n줄바꿈'
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

In [48]:
text = '''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

### ※ 문자열 연산(+,*)

In [49]:
"""
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 타로
"""
name1 = "타로"
name2 = "동해번쩍"
print(name1+name2)
print(name1, name2)

타로동해번쩍
타로 동해번쩍

In [50]:
print(name1*3)

타로타로타로

### ※ raw 데이터
 - 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [52]:
# raw데이터 : 데이터 처리시 이스케이프 문자(\n, \t, \', \")를 그대로 저장
print(r'Hello\nWorld')

Hello\nWorld

#### 정규표현식(regex)
    1. 참조 : https://ko.wikipedia.org/wiki/정규표현식
    2. 간략문법
        \d(숫자와 매치, [0-9]와 동일)
        \D(숫자가 아닌것)
        \w(영문자나 숫자 [a-zA-Z0-9]와 동일)
        \W(영문자나 숫자가 아닌 문자)
        .(문자)
        \.(.)
        \-(-)
        {2,} (2번 이상 반복)
        {2, 4} (2~4회 반복)
        ? (0번의나 1번 의미)
        + (1번 이상 반복)
        * (0번 이상 반복)
    3. 정규표현식 연습장 : https://regexr.com/
        ex1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999
                      02)999-9999
                      => \d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
        ex2. 이메일 : abc12@naver.com / abc12@sns.co.kr
                      => \w+@\w+(\.\w+){1,2}
        ex3. 주민번호 : 981212-1052525
                      => \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)|-[1-4]\d{6}
    4. 소스 구현

In [2]:
import re
data = "이름:타로, 주소:서울, 전화:02-777-7777, \
핸드폰:010-7777-7777, 특징:동해번쩍 서해번쩍\
혈액현:Bㅋㅋㅋㅋㅋzz, MBTI:ENFJ"
print(data)

이름:타로, 주소:서울, 전화:02-777-7777, 핸드폰:010-7777-7777, 특징:동해번쩍 서해번쩍혈액현:Bㅋㅋㅋㅋㅋzz, MBTI:ENFJ

In [54]:
#정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
#실수를 줄이고, 가독성을 높이는 용도로 raw데이터 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) #해당 패턴을 다 찾아줌. 없으면 빈 list
tels

['02-777-7777', '010-7777-7777']

In [55]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [56]:
#정규표현식 패턴과 처음 match되는 것을 찾아줌
firsttel = re.search(tel_pattern, data)
firsttel

In [60]:
print(data[17:28]) #문자열 슬라이싱
print(firsttel.group(0))

02-777-7777
02-777-7777

In [61]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"
firstphone = re.search(tel_pattern, data)
firstphone

In [62]:
print("전체 전화번호 :", firstphone.group(0))
print("국번 :", firstphone.group(1))
print("중간번호 :", firstphone.group(2))
print("끝번호 :", firstphone.group(3))

전체 전화번호 : 02-777-7777
국번 : 02
중간번호 : 777
끝번호 : 7777

In [7]:
#data에서 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", ' ', data)

'이름 타로  주소 서울  전화 02 777 7777  핸드폰 010 7777 7777  특징 동해번쩍 서해번쩍혈액현 B         MBTI ENFJ'

In [5]:
#data에서 전화번호 없애기
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"
re.sub(tel_pattern, ' ', data)

'이름:타로, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍혈액현:Bㅋㅋㅋㅋㅋzz, MBTI:ENFJ'

In [8]:
# 파일 경로
file_path = r"C:\taro\ai\source\01_python\data\ch02.txt"
# file_path = "C:\\taro\\ai\\source\\01_python\\data\\ch02.txt"
# file_path = "C:/taro/ai/source/01_python/data/ch02.txt"

In [10]:
file_stream = open(file_path, "w")
print("Hello, python", "Hello, world", sep="\n")
print("Hello, python", "Hello, world", sep="\n", file=file_stream) #파일 출력
file_stream.close() # close하지 않으면 저장 안함

Hello, python
Hello, world

### ※ 문자열 인덱싱

In [12]:
str_ = '0123456789'
str_

'0123456789'

In [13]:
str_[0], str_[3], str_[-1], str_[-4] #음수인덱싱은 맨 마지막이 -1

('0', '3', '9', '6')

In [14]:
str_[10] #없는 인덱싱은 에러

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [ ]:
'''
문자열변수{from:to} : from부터 to앞까지 추출
문자열변수[from:to:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략시 처음부터
    to 생략시 끝까지
    step 생략시 1
'''

In [15]:
str_[2:6]

'2345'

In [18]:
str_[9:0:-1]

'987654321'

In [21]:
print(str_[::-1])

9876543210

## 3.3 논리형(True / False)

In [23]:
a = 10>5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [24]:
int(True), int(False)

(1, 0)

In [32]:
bool(-1000), bool(0), bool("타로"), bool("")
# False로 간주되는 것 : 0, "", [], ()
# False로 판별되는 경우를 제외하고는 모두 Ture

(True, False, True, False)

In [38]:
if[]:
    print("True")
else:
    print("False")

False

In [40]:
name = input("이름은?")
if name: #name이 빈스트림이 아니면
    print('당신 이름은', name)
else:
    print('이름을 입력 안 하셨군요')

이름은?타로
당신 이름은 타로

## 3.4 자료형 확인 및 형변환 함수
 - type(변수)
 - isinstance(변수, 타입) : 변수가 해당 타입인지 여부
 - float() : 실수형으로 변환
 - int() : 정수형으로 변환
 - str() : 문자형으로 변환
 - bool() : 논리형으로 변환

In [42]:
float(4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [ ]:
# 에러나는 경우들
# int(""), int(" "), int(None), int("123.9")
# float(""), float(" "), float(None)

# 4. 포맷팅
 - 포맷팅이란 출력할 문자, 수자, 날짜 데이터의 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [44]:
name = "타로"
age = 38
print(name, '님의 나이는 ', age, '살입니다', sep='')

타로님의 나이는 38살입니다

In [47]:
# %s:문자, %d:10진수, %f:실수
print("%s님의 나이는 %d살입니다"%(name, age))
print(f"{name}님의 나이는 {age}살입니다")

타로님의 나이는 38살입니다
타로님의 나이는 38살입니다

In [54]:
print("{}님의 나이는 {}살입니다".format(name, age))
print("{0}님의 나이는 {1}살입니다".format(name, age))
print("{1}님의 나이는 {0}살입니다".format(age, name))
print("{1:>5s}님의 나이는 {0:_<3d}살입니다".format(age, name))

타로님의 나이는 38살입니다
타로님의 나이는 38살입니다
타로님의 나이는 38살입니다
   타로님의 나이는 38_살입니다

## 4.2 format()문법
 - "{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수명)
 
     * 인덱스 : format 함수안의 매개변수 순서
     * 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), "(가운데정렬)
     * 정수자릿수 : 출력할 자릿수
     * 실수자릿수 : 전체출력될 자리수, 변수중에 출력할 자리수
     * 타입 : d(10진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
     * 공백대체문자는 정렬방식을 명시하여

In [56]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자리수를 지정하면 자릿수 무시되고 다 출력
a = 12345
s = 'Hello'
print("[{0}] [{0:10}] [{0:3}]".format(a))
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [59]:
# 정렬방식 : <, ^, >
a, b, c = 10, 20, 3
print("[{:<4}] [{:^4}] [{:>4}]".format(a, b, c))

[10  ] [ 20 ] [   3]

In [66]:
# 실수 자릿수 ex 10.2f : 전체 10자리 중 소수점 2자리 / 6.2 : 전체6자리중 2자리 출력
a = 10
f = 12.569
s = "Hello"
print("[{:$>6}] [{:6.2f}] [{:_>6.2}]".format(a, f, s))
# 공백대체문자를 쓸 경우 반드시 정렬방식을 표현

[$$$$10] [ 12.57] [____He]

In [67]:
# 자릿수앞에 +를 붙이면 양수의 경우도 부호출력
# 부호나 소수점도 자리수에 포함
a, b = 123, -123
print("[{:+10}] [{:+10}] [{:10}]".format(a, b, a))
print("[{:=10}] [{:=10}] [{:10}]".format(a, b, a))
print("[{:=+10}] [{:=+10}] [{:10}]".format(a, b, a))

[      +123] [      -123] [       123]
[       123] [-      123] [       123]
[+      123] [-      123] [       123]

In [69]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15
print("10진수 [{:4d}]".format(a))
print("8진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2진수 [{:4b}]".format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [72]:
a = 2.785
sign = "+"
width = 10
precision =4
print("[{:{}{}.{}}]".format(a, sign, width, precision))
print("[{:{sign}{width}.{precision}}]".format(a, sign=sign, width=width, precision=precision))

[    +2.785]
[    +2.785]

## 4.3 날짜출력

In [76]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [79]:
from datetime import datetime # datetime 모듈안의 datetime만 메모리 Load
thatday1 = datetime(2025, 9, 11) #2025년 9월 11일 0시 0분 0초
thatday2 = datetime(2025, 9, 11, 9, 30, 0)
# Y(년도4자리), y(년도2자리), m(월), d(일), p(pm/am), I(12시간), H(24시간) M(분) S(초)
print("{:%Y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%Y년 %m월 %d일 %p %H시 %M분 %S초}".format(thatday2))

2025년 09월 11일 00시 00분 00초
2025년 09월 11일 AM 09시 30분 00초

In [80]:
thatday1.strftime("%Y년 %m월 %d일 %p %H시 %M분 %S초")

'2025년 09월 11일 AM 00시 00분 00초'

In [81]:
thatday2.strftime("%Y년 %m월 %d일 %p %H시 %M분 %S초")

'2025년 09월 11일 AM 09시 30분 00초'

In [82]:
# 현재의 날짜와 시간
# datetime(2025, 9, 11, 14, 30) 특정한 날짜와 시간
now = datetime.now() # 지금
now - thatday1 # 날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53749, microseconds=738269)

In [84]:
# 지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

2025-09-15 PM 02:55
2025-09-15 PM 02:55

In [85]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-09-15 PM 03:00'