In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:16pt;}
div.text_cell_render.rendered_html{font-size:16pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:16pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
table.dataframe{font-size:16px;}
</style>
"""))

# <b><font size="7" color="red">ch02. 자료형과 연산자</font></b>
# 5장 연산자
## 5.1 산술연산자 : +, -, *, /(결과 float), //(몫), %(나머지), **(제곱)

In [4]:
print("10*5승 =", 10**5)
print("4/2(결과 실수) =", 4/2)
print("5//2(몫) =", 5//2)
print("5%2(나머지) =", 5%2)

10*5승 = 100000
4/2(결과 실수) = 2.0
5//2(몫) = 2
5%2(나머지) = 1

In [3]:
# 정수끼리 연산은 결과가 정수(단 / 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2)

4**2 = 16

In [6]:
# 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는{num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

정수를 입력하세요:3
입력하신 수는3, 2로 나눈 나머지는 1라서 홀수를 입력하셨습니다

In [9]:
# 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 5
if result:
    temp = "5의 배수가 아닙니다"
else:
    temp = "5의 배수입니다"
print(f"입력하신 수는{num}, 5로 나눈 나머지는 {result}라서 {temp}")

정수를 입력하세요:14
입력하신 수는14, 5로 나눈 나머지는 4라서 5의 배수가 아닙니다

In [45]:
# 국,영,수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현
# 국어 :99 영어:100 수학:99 총점:298 평균:99.3
kor = int(input("국어점수를 입력하세요"))
mat = int(input("수학점수를 입력하세요"))
eng = int(input("영어점수를 입력하세요"))
sum = kor+mat+eng
avg = all / 3
re = avg>90
print("국어점수:{:3d}\t수학점수:{:3d}\t영어점수:{:3d}\n총점: {:3d}\t평균: {:3.1f}".format(kor,mat,eng,sum,avg))
if re:
    temp = "참 잘했어요"
else:
    temp = "더 공부하세요"
print(temp)

국어점수를 입력하세요99
수학점수를 입력하세요99
영어점수를 입력하세요100
국어점수: 99	수학점수: 99	영어점수:100
총점: 298	평균: 99.3
참 잘했어요

## 5.2 할당연산자 : =, +=, -=, /=, *=, //=, %=

In [42]:
a = 10
a += 5 # a = a+5와 동일
print(f"a = {a}")

a = 15

In [44]:
a -= 5 # a = a-5
print("5빼기 :", a) #10
a *= 10 # a = a10
print("10배 :", a) #100
a //= 5 # a = a//5
print("5나눈 몫 :", a)

5빼기 : 10
10배 : 100
5나눈 몫 : 20

## 5.3 논리연산자 : &, and, |, or, not

In [46]:
# & : 논리연산자, 비트연산자
print((10>3) & (10>5)) #논리연산 True $ True
print(12&1) # 비트 연산 1100(12)
                      #0001(1)
                    # &:0000

True
0

In [47]:
# and : 논리연산자 Folse로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 Truo면, 마지막항의 결과 반환
print((10>3) and (10>5))
print(12 and 1)

True
1

In [48]:
# | : 논리연산, 비트연산
result = True | False
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 #0000
                   #0011
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [51]:
# or : 논리연산. True로 판별되는 첫번째 항의 결과 반환
                 #모든 항이 False면 마지막항의 결과값 반환
print(False or 0 or '' or None or [])

3

In [52]:
not 10>5

False

## 5.4 비교연산자 : >, >=, <, <=, ==, !=(다르다)

In [54]:
# 비교연산자는 이항, 삼항, 사항
x = 95
print((90<=x)&(x<=100))
print(90 <= x <= 100)
print(90 <= x <= 100 > 10)

True
True

In [58]:
#비교연산자의 우선순위가 비트연산자(|,&)의 우선순위보다 낮다
print((10>5)&(10>7))
print(10>5&10>7) # 괄호가 없으면 우선순위가 높은 5&10부터 실행
print(10>0>7)

True
False
False

In [60]:
address = "목동"
age = 29
#print(address=="목동" & age<=30)
print((address=="목동") & (age<=30))
print(address=="목동" and age<=30)

True
True

In [61]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
"scott" < "tiger"

True

## 5.5 비트연산 : &, |, ^(XOR), ~(반대)

```
 x   y   x&y   x|y   x^y   ~x
 --------------------------------
 0   0    0     0     0     1
 0   1    0     1     1     1
 1   0    0     1     1     0
 1   1    1     1     0     0
 
 ```

In [5]:
a = 15
b = 2
print('  a = {0:2} : {0:4b}'.format(a))
print('  b = {0:2} : {0:04b}'.format(b))
print('a&b = {0:2} : {0:04b}'.format(a&b))
print('a|b = {0:2} : {0:04b}'.format(a|b))
print('a^b = {0:2} : {0:04b}'.format(a^b))
print(' ~a = {0:2} : {0:04b}'.format(~a))

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
 ~a = -16 : -10000

# 6장 문자열 다루기
 - 문자열변수(from:to:step) : 일부 문자 추출
 - len(문자열변수) : 문자수
 
 - upper() : 대문자로 변환
 - lower() : 소문자로 변환
 - title() : 각 어절의 첫글자만 대문자로 변환
 - capitalize() : 첫문자만 대문자로
 - count("찾을문자") : 찾을문자가 몇개 들어있는지 갯수 반환
 - find("찾을문자") : 찾을문자가 왼쪽부터 몇번째에 있는지 index를 반환(없으면 -1로 반환)
 - rfind("찾을문자") : 찾을문자가 오른쪽부터 몇번째에 있는지 index를 반환
 - index("찾을문자") : 찾을문자가 왼쪽부터 몇번째에 있는 index를 반환(없으면 에러)
 - startwith("특정문자") : 특정문자로 시작하는지 여부 반환
 
 - strip() : 좌우 공백제거(trim)
 - lstrip() : 왼쪽 공백제거
 - rstrip() : 오른쪽 공백제거
 - **split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
 - isdigit() : 문자열이 숫자문자열인지 여부 반환
 - islower() : 문자열이 소문자인지 여부 반환
 - isupper() : 문자열이 대문자인지 여부 반환
 
 - replace(oldStr, newStr) : oldStr를 newStr로 변경

In [7]:
int("1,000".replace(",",""))

1000

In [22]:
temp = "python is easy. python is smart. python"
temp, len(temp)
print("대문자로 :", temp.upper())
print("title() :", temp.title())
print("capitalize() :", temp.capitalize())
print("find() :", temp.find("is"))
print("rfind() :", temp.rfind("is"))
print("count() :", temp.count("easy"))
print("count() :", temp.lower().count("is"))
print("count() :", temp.upper().count("Is"))
print("count() :", temp.title().count("Python"))
print("count() :", temp.capitalize().count("Python"))
print("python으로 시작되는 여부 :", temp.startswith("python"))
print("대소문자 구분없이 python으로 시작되는 여부 :", temp.lower().startswith("python"))
print("python으로 끝나는지 여부 :", temp.endswith("python"))
print("python을 n으로 변경 :", temp.replace("python", "R"))

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
title() : Python Is Easy. Python Is Smart. Python
capitalize() : Python is easy. python is smart. python
find() : 7
rfind() : 23
count() : 1
count() : 2
count() : 0
count() : 3
count() : 1
python으로 시작되는 여부 : True
대소문자 구분없이 python으로 시작되는 여부 : True
python으로 끝나는지 여부 : True
python을 n으로 변경 : R is easy. R is smart. R

In [28]:
temp = "    python is easy     "
notdigit = "1,000"
print("좌우 공백 제거 :", temp.strip())
print("좌우 공백 제거 : [{}]".format(temp.strip()))
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit())
print("isdigit(숫자문자)인지 여부 :", notdigit.replace(",","").isdigit())

좌우 공백 제거 : python is easy
좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy     ]
오른쪽 공백 제거 : [    python is easy]
isdigit(숫자문자)인지 여부 : False
isdigit(숫자문자)인지 여부 : True

In [31]:
names = "타로     구로 시로 야로 자로"
name_list = names.split()
print("space단위로 names 분리(list로 변환) :", names.split())
print("space단위로 names 분리(list로 변환) :", name_list)
print(name_list[0], name_list[1])

space단위로 names 분리(list로 변환) : ['타로', '구로', '시로', '야로', '자로']
space단위로 names 분리(list로 변환) : ['타로', '구로', '시로', '야로', '자로']
타로 구로

In [34]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print("년도 :", date_list[0])
print("월 :", int(date_list[1]))
print("일 :", int(date_list[2]))

년도 : 2025
월 : 9
일 : 17

In [35]:
str_= "ABC"
str_= ["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [36]:
# '-'를 "/"로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML - LLM(RAG)"
# split와 join 이용하여 replace역할
splited_temp = temp.split("-")
print("분리된 temp :", splited_temp)
joined_temp = "/".join(splited_temp) # "/"로 매개변수 list를 연결
print("join temp :", joined_temp)

분리된 temp : ['Python ', ' 웹(HTML/CSS/JS) ', ' Oracle/MySQL(DBMS) ', ' DL/ML ', ' LLM(RAG)']
join temp : Python / 웹(HTML/CSS/JS) / Oracle/MySQL(DBMS) / DL/ML / LLM(RAG)

In [ ]:
# 문자열을 다를 수 있는 함수들 목록
dir(str)

# 7장 시간,날짜 다루기

In [2]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [3]:
# datetime 모듈(datetime.py)
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [2]:
# 특정 시점을 갖는 datetime 객처 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [3]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime()) #ctime() : 사람이 읽기 쉬운 형태로 convert

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [4]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now.strftime("%y년%m월%d일(%A) %p %I:%M:%S"))

25년09월22일(Monday) PM 02:37:01

In [8]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 4:54:45.000725
6

## 7.2 날짜

In [9]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025, 9, 11)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025년 09월 11일 00:00

In [11]:
#오늘은 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1)
print(today1 == today2)

2025-09-17
True

In [12]:
print(today1.strftime("%Y년 %m월 %d일 %H:%M"))

2025년 09월 17일 00:00

In [13]:
diff = someday - today1
print(diff.days)

-6

## 7.3 시간

In [15]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14,39,0)
t

datetime.time(14, 39)

In [17]:
print(t.strftime("%p %I:%M"))
print(t.strftime("%Y년 %m월 %d일 %p %I:%M"))

PM 02:39
1900년 01월 01일 PM 02:39

In [18]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:43:56.422322

# 8장 연습문제

1.이름과 나이 변수를 다음 형식으로 출력하도록 format()함수를 이용해 형식화하세요
 [출력형식 : 홍길동님의 나이는 23살입니다]

In [32]:
name = "홍길동"
age = 23
print("{:}님의 나이는 {:}살입니다".format(name, age))

홍길동님의 나이는 23살입니다

2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요

In [33]:
num1 = int(input("첫번째 정수를 입력하세요"))
num2 = int(input("두번째 정수를 입력하세요"))
print("두 정수의 덧셈의 결과는 ",(num1+num2))
print("두 정수의 뺄셈의 결과는 ",(num1-num2))
print("두 정수의 곱셈의 결과는 ",(num1*num2))
print("두 정수의 나눗셈의 결과는 ",(num1/num2))
print("두 정수의 몫의 결과는 ",(num1//num2))
print("두 정수의 나머지의 결과는 ",(num1%num2))

첫번째 정수를 입력하세요1
두번째 정수를 입력하세요2
두 정수의 덧셈의 결과는  3
두 정수의 뺄셈의 결과는  -1
두 정수의 곱셈의 결과는  2
두 정수의 나눗셈의 결과는  0.5
두 정수의 몫의 결과는  0
두 정수의 나머지의 결과는  1

3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요

In [34]:
temp = "Hello World"
temp_list = temp.split()
print(temp_list[1], temp_list[0])

World Hello

4.x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용

In [122]:
x = "abcdef"
print(x[1:6]+x[0])

bcdefa

5.x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요

In [72]:
x = "abcdef"
print(x[::-1])

fedcba

 6.오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 .
 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 소수점을 
 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 .
 C 는 섭씨 ,F 는 화씨C = (F32) / 1.8F = (C1.8) + 32

In [120]:
C = int(input("오늘의 온도는(섭씨)?"))
F = (C*1.8)+32    
print("입력하신 섭씨온도는{:}이며 화씨온도로 변환한 값은 {:.2f}입니다".format(C, F).replace(".00",""))
if f.is_integer():
    print("입력하신 섭씨온도는{:}이며 화씨온도로 변환한 값은 {:.0f}입니다".format(C, F))
else:
    print("입력하신 섭씨온도는{:}이며 화씨온도로 변환한 값은 {:.2f}입니다".format(C, F))
if f == round(f):
    print("입력하신 섭씨온도는{:}이며 화씨온도로 변환한 값은 {:.0f}입니다".format(C, F))
else:
    print("입력하신 섭씨온도는{:}이며 화씨온도로 변환한 값은 {:.2f}입니다".format(C, F))

오늘의 온도는(섭씨)?16
입력하신 섭씨온도는16이며 화씨온도로 변환한 값은 60.80입니다

7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오
① for
② 10th
③ Student.name
④ _1234

In [ ]:
④ _1234

8. 다음의 코드의 실행결과는?
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

In [ ]:
SeounSeoul
Seou n Seoul

9.다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
① 수식 8//2 결과 4
② 수식 8/2 결과 4
③ 수식 8 **2 결과 64

In [ ]:
② 수식 8/2 결과 4

10.아래 프로그램의 결과는?
x = 5
y = "John"
print(x + y)

In [ ]:
오류

11.split()함수를 이용하여 str_의 값 중 "나라"를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"

In [100]:
str_ = "우리 나라 대한 민국"
str_list = str_.split()
print(str_list[1])

나라