In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:16pt;}
div.text_cell_render.rendered_html{font-size:16pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:16pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
table.dataframe{font-size:16px;}
</style>
"""))

# <b><font size="7" color="red">ch03. 데이터구조</font></b>
- 리스트[], 튜플(), 딕셔너리{}, 셋{}

# 1장 리스트
## 1.1 리스트 만들기
 - []를 이용하여 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
 - list()함수 이용도 가능
 - 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
 - 슬라이싱([from:to:step]) : 부분 데이터셋 추출
 - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [3]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0]
print(fruits[0]) #인덱싱을 이용한 읽기

banana

In [4]:
fruits[0] = 'mango' #인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [ ]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format)

In [9]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하는 나열 가능한 자료
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0, by생략시 1
range(0, 10, 2)
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [10]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [15]:
for i in [0,1,2]:
    print(i)
for i in [list(range(0,10))]:
    print(i)

0
1
2
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
fruits = ['mango', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))
for fru in range(len(fruits)):
    print("{}번째 과일은 {}".format(fru, fruits[fru]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [19]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [21]:
for i, fru in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fru}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [26]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers
numbers[2], numbers[4][1]

('2', 5)

In [27]:
# 2차원 리스트
numbers = [1,2,3,4,5]
              #0열1열2열3열4열
numbers_2d =  [[1,2,3,4,5], # 0행
              [10,20,30,40,50], #1행
              [-1,-2,-3,-4,-5], #2행
              [11,22,33,44,55]] #3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [-1, -2, -3, -4, -5], [11, 22, 33, 44, 55]]

In [28]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [31]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
-1	-2	-3	-4	-5
11	22	33	44	55

In [37]:
for item in numbers_2d:
    print(item, end='\t')
    print()

[1, 2, 3, 4, 5]
[10, 20, 30, 40, 50]
[-1, -2, -3, -4, -5]
[11, 22, 33, 44, 55]

In [41]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j : 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : -1	2행1열 : -2	2행2열 : -3	2행3열 : -4	2행4열 : -5
3행0열 : 11	3행1열 : 22	3행2열 : 33	3행3열 : 44	3행4열 : 55

In [42]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [-1, -2, -3, -4, -5]),
  (3, [11, 22, 33, 44, 55])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [43]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : -1	2행1열 : -2	2행2열 : -3	2행3열 : -4	2행4열 : -5
3행0열 : 11	3행1열 : 22	3행2열 : 33	3행3열 : 44	3행4열 : 55

## 1.2 기본 정보 조회

In [50]:
numbers = [11,3,50,6,7]
numbers_2d = [[10,3,5],
             [110,2,40],
             [55,12,11]]

In [46]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [48]:
# 최소값
min(numbers), max(numbers)

(3, 50)

In [51]:
# 2차원 list의 최소/최대값 : 부분리스트 중 첫 요소가 가장 작은값/큰값
min(numbers_2d), max(numbers_2d)

([10, 3, 5], [110, 2, 40])

In [53]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max적용
fruits = ['mango','apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [57]:
# 정렬하기
numbers = [1,12,3,5,2]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지않음 :", numbers)

오름차순 정렬 : [1, 2, 3, 5, 12]
내림차순 정렬 : [12, 5, 3, 2, 1]
합 : 23
평균 : 4.6
sorted 함수 사용시 리스트의 내용이 바뀌지않음 : [1, 12, 3, 5, 2]

## 1.3 요소추가
```
 - + : 두 리스트 연결
 - = : 리스트를 곱한 수만큼 반복
 - append() : 요소 맨 뒤에 추가
 - extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
 - insert(idx, 값) : idx번째 인덱스 위치에 값 추가
```

In [58]:
numbers = [1,2,3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [59]:
numbers = [1,2,3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
numbers.append(4) # 맨 뒤에 4추가
numbers

[1, 2, 3, 4]

In [61]:
numbers.append([5,6,7]) #append는 무조건 한 데이터로 인식해서 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [62]:
numbers = [1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [63]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [64]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'h', 'e', 'l', 'l', 'o']

In [67]:
numbers = [1,2,3,4,5]
numbers.insert(1, '번째') # 1번째 인덱스에 '번째' 추가
numbers

[1, '번째', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
 - 변수[index] : 인덱스를 이용한 접근
 - index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
 - 찾을데이터 in 변수 : 찾을데이터가 리스트변수의 요소인지 여부
 - count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수 반환

In [69]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.count(2)

2

In [70]:
numbers.count(5)

0

In [71]:
print(2 in numbers) # 2가 numbers의 요소인지 여부

True

In [72]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print("5가 요소에 포함되지 않습니다")

5가 요소에 포함되지 않습니다

In [73]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print("5가 요소에 포함되지 않습니다")

5가 요소에 포함되지 않습니다

In [80]:
def safe_index(lst, item):
    """첫번째 매개변수 lst에서 item요소가 있는 index를 반환.
       item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [81]:
safe_index(numbers,5)

-1

In [2]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers,2), safe_index(numbers,5)

(1, -1)

In [3]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러나 안남

[3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
2. <font color="red">**리스트컴프리헨션** : 원하는 조건의 데이터 추출

In [4]:
numbers = [1,3,5,9,11,13,14,16,18,20]
print(numbers[::-1])
print(numbers[::2])

[20, 18, 16, 14, 13, 11, 9, 5, 3, 1]

In [5]:
# 모든 데이터 추출
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 11, 13, 14, 16, 18, 20]

In [8]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

[14, 16, 18, 20]

In [10]:
#연습문제
# nubvers에서 10이상인 요소만 추출
[data for data in numbers if data>=10]

[11, 13, 14, 16, 18, 20]

In [11]:
# fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data)>=5]

['orange', 'apple', 'mango']

In [17]:
# fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [18]:
# 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [19]:
# 리스트 요소의 값의 2배를 추출
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
 - 인덱스, 슬라이싱을 이용해서 수정

In [21]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# 슬라이싱(step 부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xxx','xx','xx']
numbers

['xx', 'xx', 'xxx', 'xx', 'xx', 'xxx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# 슬라이싱(step 부분 포함)을 이용하여 부분 수정시 요소 갯수가 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

## 1.7 요소삭제
 - pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
 - pop(idx) : idx번째 요소가 반환되고 삭제
 - remove(data) : list안의 data가 삭제
 - del 리스트변수[idx] : idx번째 요소가 삭제

In [30]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 후 numbers :", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 numbers : [3, 4]
del numbers[1]
[3]

In [31]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

In [32]:
numbers.clear() # 모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [33]:
numbers = [9,0,5,8,6]
print("numbers는 변경하지 않고 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 0, 5, 8, 6]

In [34]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바꿈
numbers

[0, 5, 6, 8, 9]

In [35]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 바꿈
numbers

[9, 8, 6, 5, 0]

In [36]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [37]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=2625718649360, 복사본주소=2625718649360
원본i = 10, 복사본cp_i=99 / 원본주소=2625718649360, 복사본주소=2625718652208

In [38]:
# 데이터 구조의 복제
numbers = [5,6,1,9]
new_numbers = numbers
print("원본 주소 :", id(numbers))
print("복제본 주소 :", id(new_numbers))
new_numbers[0] = 99
print("원본 내용 :", id(numbers))
print("복제된 주소 :", id(new_numbers))

원본 주소 : 2625834417728
복제본 주소 : 2625834417728
원본 내용 : 2625834417728
복제된 주소 : 2625834417728

In [39]:
# 할당
numbers = [5,6,1,9]
new_numbers = numbers
new_numbers.sort()
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 내용 :", id(numbers))
print("복제된 주소 :", id(new_numbers))

원본 : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 내용 : 2625797146688
복제된 주소 : 2625797146688

In [41]:
# 리스트 복제(깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy() # numbers를 복제
new_numbers.sort(reverse=True) # 내림차순 정렬
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 내용 :", id(numbers))
print("복제된 주소 :", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 내용 : 2625834908160
복제된 주소 : 2625834909056

In [42]:
city = ['서울','대전','대구','부산','찍고']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '찍고']
정렬후 : ['대구', '대전', '부산', '서울', '찍고']

# 2장 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수가 적음
- ()이용해서 생성

In [43]:
city = ('서울','대전','대구','부산','찍고')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','찍고'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '찍고')

In [44]:
# 매개변수로 list가 오는 함수는 tuple 매체변수로 함수 사용
", ".join(city)

'서울, 대전, 대구, 부산, 찍고'

In [46]:
from lst import safe_index
safe_index(city, '대전')

-1

In [47]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [49]:
city = ('서울') # 요소가 하나 있는 튜플
print(type(city))
print(city)

<class 'str'>
서울

In [ ]:
city = ('서울',) # 요소가 하나 있는 튜플
print(type(city))
print(city)

In [2]:
numbers = (1,2,3)
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [51]:
numbers.count(2)

1

In [52]:
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [8]:
numbers = [1,2,3,2]
numbers.index(2,2) # index(찾을데이터, 시작점)

3

In [14]:
def safe_index(lst, item, start=0):
    """첫번째 매개변수 lst : 리스트, 튜블
       두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
       세번째 매개변수 start : 몇번째 index부터 찾을지 index 수(기본값 : 0).
       item 요소가 없으면 -1 반환"""
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     return -1

In [15]:
safe_index(numbers, 2, 3)

3

In [12]:
# 위의 if문을 조건식을 이용하여 한줄 코드
x, y = 10, 20
def diff(x,y):
    if x>y:
        return x-y
    else:
        return y-x
diff(30,20)

10

In [13]:
x, y = 10, 20
def diff(x,y):
    result = x-y if x>y else y-x # if문이 참일때 값 if 조건 else if문 거짓일때 값0
    return result
diff(30,20)

10

In [16]:
numbers = (1, 2, 3)
print(numbers + numbers) #연결
print(3*numbers) #반복
print(numbers*3) #반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
# 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11, 12, 56, 34, 51, 23, 11, 20)
tuple(num**2 for num in numbers if num%2==0)

(144, 3136, 1156, 400)

# 3장 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함). 키에 list는 사용 불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안함

In [19]:
dic = {'name':'타로', 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '타로', 1: 22, (1, 2): [1, 2]}

In [20]:
len(dic) # 데이터 요소의 갯수

3

In [21]:
my_favorlte = {'frult':'apple', 'number':3, 'sport':'tennis'}
my_favorlte

{'frult': 'apple', 'number': 3, 'sport': 'tennis'}

In [22]:
# 변수(키) / 변수.get(키)
print(my_favorlte['number'])
print(my_favorlte.get('number'))

3
3

In [29]:
# print(my_favorlte['people']) 키목록에 없는 데이터를 참조시 에러
print(my_favorlte.get('people')) #없는 키를 get함수로 참조시 None
print(my_favorlte.get('people', '없는거야~')) # 없는 키를 get함수로 참조시

None
없는거야~

## 딕셔너리 item 수정,추가,삭제

In [34]:
# 추가
my_favorlte['people'] = '두리상이'
my_favorlte['subject'] = 'AI'
print('people, subject 추가후 :', my_favorlte)
# 여러 item을 한꺼번에 추가
my_favorlte.update({'subject':'수학', 'major':'AI'})
print('한꺼번에 추가후 :', my_favorlte)
# 한 item씩 수정
my_favorlte['frult'] = 'mango'
my_favorlte['number'] = 7
print("하나씩 수정 후 :", my_favorlte)
# 여러 item을 한꺼번에 수정
my_favorlte.update(frult='kiwi', number=-99)
print("한꺼번에 수정 후 :", my_favorlte)
# item 제거
if 'subject' in my_favorlte:
    del my_favorlte['subject'] # subject item 제거
else:
    print("subject 키가 존재하지 않습니다")
print("del 제거 후 :", my_favorlte)
# item 제거(2)
print('제거한 데이터 :', my_favorlte.pop('major')) # major키 값을 반환하고 제거
if 'major' in my_favorlte:
    print('제거한 데이터 :', my_favorlte.pop('major'))
else:
    print("major 키가 존재하지 않습니다")

people, subject 추가후 : {'frult': 'kiwi', 'number': -99, 'sport': 'tennis', 'people': '두리상이', 'subject': 'AI', 'major': 'AI'}
한꺼번에 추가후 : {'frult': 'kiwi', 'number': -99, 'sport': 'tennis', 'people': '두리상이', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'frult': 'mango', 'number': 7, 'sport': 'tennis', 'people': '두리상이', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'frult': 'kiwi', 'number': -99, 'sport': 'tennis', 'people': '두리상이', 'subject': '수학', 'major': 'AI'}
제거 후 : {'frult': 'kiwi', 'number': -99, 'sport': 'tennis', 'people': '두리상이', 'major': 'AI'}

In [35]:
# for문을 이용한 튜플 출력
my_tuple = ('타로', 39, '010-9999-9999')

In [39]:
for data in my_tuple:
    print(data, end='\t')
print() # 개형
for idx in range(len(my_tuple)):
    print(f"{idx}번째 : {my_tuple[idx]}", end="\t")
print() # 개형
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

타로	39	010-9999-9999
0번째 : 타로	1번째 : 39	2번째 : 010-9999-9999
0번째 : 타로	1번째 : 39	2번째 : 010-9999-9999

In [40]:
my_dic = {'name':'타로', 'age':39, 'tel':'010-9999-9999'}

In [43]:
for key in my_dic: # 비추천
    print("{} : {}".format(key, my_dic[key]))

name : 타로
age : 39
tel : 010-9999-9999

In [44]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [45]:
my_dic.values() # 값 목록

dict_values(['타로', 39, '010-9999-9999'])

In [46]:
my_dic.items() # 키,값 목록

dict_items([('name', '타로'), ('age', 39), ('tel', '010-9999-9999')])

In [47]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end='\t')

name:타로	age:39	tel:010-9999-9999

In [48]:
for value in my_dic.values():
    print(value, end='\t')

타로	39	010-9999-9999

In [49]:
list(enumerate(my_dic.items()))

[(0, ('name', '타로')), (1, ('age', 39)), (2, ('tel', '010-9999-9999'))]

In [57]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}. {} : {}".format(no+1, key, value))

1. name : 타로
2. age : 39
3. tel : 010-9999-9999

## in연산자

In [50]:
# tuple, list
t = (10,20,30)
30 in t

True

In [53]:
dic={'name' : '타로', 'age':30}
'타로' in dic # 딕셔너리에서의 in연산자 : key가 있는지 여부 반환

False

In [54]:
'타로' in dic.values()

True

## 복제하기

In [59]:
my_favorlte = {'frule':'apple', 'number':3}
new_favorlte=my_favorlte.copy()
print("my_favorlte 주소 :", id(my_favorlte))
print("new_favorlte 주소 :", id(new_favorlte))

my_favorlte 주소 : 2477510448896
new_favorlte 주소 : 2477510449664

In [60]:
new_favorlte['frult'] = '과일은 다 좋아'
new_favorlte['people'] = "타로"
print('원본 :', my_favorlte)
print('수정본 :', new_favorlte)

원본 : {'frule': 'apple', 'number': 3}
수정본 : {'frule': 'apple', 'number': 3, 'frult': '과일은 다 좋아', 'people': '타로'}

# 4장 셋
 - 중복을 허용하지 않는 집합(순서X)
 - {}나 set()함수를 이용해서 셋 생성 ex. set([1,2]), set({'name' : '홍길동'})
 - 추가 : add(), update()
 - 삭제 : remove()
 - 집합연산자 : &교집합, |합집합, -차집합

In [61]:
frults = {'banana', 'orenge', 'apple', 'apple'}
frults

{'apple', 'banana', 'orenge'}

In [62]:
# set함수를 이용해서 딕셔너리를 셋으로 전환. 전환할 때는 key만 적용
s2 = set({'name':'타로', 'age':37, 'add':'서울'})
s2

{'add', 'age', 'name'}

## 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. list,dic,set유형은 add함수 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dict사용시 key만 추가

In [65]:
s = {1,2,3}
s.add(4)
s.add('오')
s.add((6,7))
print("add() 후 :", s)

add() 후 : {1, 2, 3, 4, (6, 7), '오'}

In [69]:
# 1이 set에 있는 상태에서 True 추가
s ={1,2,3,1,1}
s.add(True)
print("True add후 :", s)

True add후 : {1, 2, 3}

In [70]:
# 0이 set에 있는 상태에서 False 추가
s ={False,1,2}
s.add(0)
print("0 add후 :", s)

0 add후 : {False, 1, 2}

In [68]:
s.update([4,5,6])
s.update({'name':'홍', 'age':30})
print("update 후 :", s)

update 후 : {1, 2, 3, 4, 5, 6, (6, 7), '오', 'age', 'name'}

## 삭제하기
 - remove() :

In [71]:
s = {1,2,3,1,1}
s.remove(2)
s

{1, 3}

In [72]:
# s.remove(5) #없는 요소를 삭제할 경우 에러
if 5 in s:
    s.remove(5)
else:
    print("해당 데이터가 없어요~")

해당 데이터가 없어요~

## 집합연산자
    &(교집합), |(합집합), -(차집합)

In [73]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print("s1 =", s1)
print("s2 =", s2)
print("s1&s2 =", s1&s2)
print("s1|s2 =", s1|s2)
print("s1-s2 =", s1-s2)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}

In [74]:
for s in s1:
    print(s)

1
2
3
4
5

# 5장 enumerate
- 반복자.반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [75]:
list(enumerate(frults))

[(0, 'orenge'), (1, 'banana'), (2, 'apple')]

In [76]:
for no, frult in enumerate(frults):
    print("{}, {}".format(no+1, frult))

1, orenge
2, banana
3, apple

In [79]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [80]:
for idx in range(len(names)):
    print("{}, {}님의 연락처는 {}이고, {}살아요".format(idx+1, names[idx], tels[idx], adds[idx]))

1, 길동님의 연락처는 02-999-9999이고, 서울살아요
2, 길자님의 연락처는 02-888-8888이고, 판교살아요
3, 길숙님의 연락처는 02-777-7777이고, 하남살아요

In [81]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [83]:
for name, tel, add in zip(names,tels,adds):
    print(f"{name}님의 연락처는 {tel}이고, {add}살아요")

길동님의 연락처는 02-999-9999이고, 서울살아요
길자님의 연락처는 02-888-8888이고, 판교살아요
길숙님의 연락처는 02-777-7777이고, 하남살아요

In [84]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f"{idx}. {name}님의 연락처는 {tel}이고, {add}살아요")

0. 길동님의 연락처는 02-999-9999이고, 서울살아요
1. 길자님의 연락처는 02-888-8888이고, 판교살아요
2. 길숙님의 연락처는 02-777-7777이고, 하남살아요

In [87]:
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [89]:
members = []
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1, 'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 연습문제

- 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
```
numbers = [1,2,3,4,5,6,7,8,9,10]
```

1. 숫자 100을 맨 뒤에 추가하세요

2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
```
data=[200,300,400,500]
```

3. 처음 다섯 개 숫자만 출력하세요

4. 리스트에서 짝수 번째 데이터만 출력하세요

5. 짝수번째 데이터를 모두 0으로 바꾸세요

6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)

- 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
```
member_info={"name":"홍길동", "age":20, "address":"서울시 마포구","score":90}
```

7. address값을 출력하세요

8. score를 출력하고 member_info 딕셔너리에서 삭제하세요

9. address를 "서울시 서대문구"로 변경하세요

10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

# 연습문제(서술형)

1. 다음 코드를 실행했을 때 출력되는 것은
```
L1 = (“orange”,”apple”,”banana”,”kiwi")
new_list=[i for i in L1 if len(i) )>5]
print(new_list)
```

2. 다음 코드와 실행결과가 잘못 짝지어진 것은
```
① print(list(range(10))) -[0,1,2,3,4,5,6,7,8,9]
② print(list(range(5,10))) -[5,6,7,8,9]
③ print(list(range(10,0,-1))) -[9,8,7,6,5,4,3,2,1,0]
④ print(list(range(10,20,2))) –[10,12,14,16,18]
```

3. 다음 구문에 의해 출력되는 것은
```
numbers_2d =[[1,2,3,4,5], [10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3]
```

4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은
```
numbers = [1,2,3,4,5]
numbers.__________([10,20,30,40,50])
numbers
결과: [1,2,3,4,5,10,20,30,40,50]
```

5. 다음 구문을 실행할 때 결과는
```
numbers = list(range(10))
numbers[::2]= [0] * len(numbers[::2])
print(numbers)
```

6. 다음 구문을 실행할 때 결과는
```
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2]= numbers[5:]
print(numbers)
```

7. 다음 구문을 실행할 때 결과는
```
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2]= numbers[:5]
print(numbers)
```

8. 다음 데이터에서 10 을 출력할 수 없는 구문은
```
my_dic = {“a”:10, “b”:20, “c”:30}
① my_dic [0]
② my_dic [‘a']
③ list( my_dic.items ())[0][1]
④ list( my_dic.values ())[0]
⑤ my_dic.get (‘a')
```

9. 다음 프로그램의 결과를 출력하시오
```
fruits = [ ‘apple’, ‘banana’, ‘orange’]
x, y, z = fruits
print(x)
print(y)
print(z)
```

10. 다음 프로그램의 결과를 출력하시오
```
fruits = [ ‘apple’, ‘banana’, ‘orange’]
print( len (frults)
```

11. 파이썬에서 함수를 만들기 위해 선언하는 단어는

## 변수타입들
<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
              style="float:left"
              width="500">