In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:16pt;}
div.text_cell_render.rendered_html{font-size:16pt;}
div.output {fontsize:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:16pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:16pt;padding:5px;}
table.dataframe{font-size:16px;}
</style>
"""))

# <b><font size="7" color="red">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ...]):
    명렁어1
    명령어2
    ...
```

# 1장 함수의 정의 및 사용
## 1.1 함수 정의

In [4]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [5]:
# 함수 사용 == 함수 호출
my_message(3, 'hi')

0 hi
1 hi
2 hi

In [6]:
# 함수 이름 변경
my_msg = my_message
my_message(3, 'hi')
my_msg(1,'bye')

0 hi
1 hi
2 hi
0 bye

In [7]:
type(my_msg)

function

In [8]:
print('Hello') #파이썬 내장 함수(import 하지 않고 사툥할 수 있는 함수)
print = 5
del print
print('hi')

Hello
hi

In [ ]:
del my_message # 변수 및 함수 제거하여도 
my_message(2,2) # 사용자 정의 함수, 라이브러리 함수는 사용불가

In [9]:
# 함수 중복 정의 불가(오버로딩 불가)
def my_hello():
    print('hello Python')
    print('bye')
def my_hello(cnt): #cnt만 출력
    for i in range(cnt):
        print('Hello, taro', end='\t')
        print('byebye')

In [10]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [11]:
my_hello(2)

Hello, taro	byebye
Hello, taro	byebye

In [12]:
__name__

'__main__'

In [13]:
if __name__ == '__main__':
    my_hello(2)

Hello, taro	byebye
Hello, taro	byebye

In [14]:
import ch05 # ch05모듈이 해석되서 메모리 로드

In [15]:
ch05.my_hello(3)

ch05
Hello, Python	Hello, taro
Hello, Python	Hello, taro
Hello, Python	Hello, taro

In [16]:
from ch05 import my_hello # ch05모듈안의 my_hello만 메모리 로드

In [17]:
my_hello(1)

ch05
Hello, Python	Hello, taro

## 1.2 docstring

In [19]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """
    pass

In [20]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [21]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수(반대:전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [22]:
fibonacci(999)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [ ]:
a, b # 지역변수는 함수내에서만 사용가능

## 1.3 지역변수(local var)와 전역변수(global var)

In [23]:
global_var = 100
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [25]:
def func2():
    local_var = 200 # 지역변수
    print('함수안 :', local_var)
func2()
# print('함수밖 :', local_var)

함수안 : 200

In [26]:
g_var = 100 # 전역변수
def func3():
    g_var = 200
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

g_var : 200
g_var : 100

In [27]:
#렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해짐(지역vs전역)
g_var = 100 # 전역변수
def func3():
    global g_var  # 함수내에서의 g_val는 전역변수를 쓰겠다
    print('지역변수 g_var :', g_var)
    g_var = 200
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [28]:
foo = 'a' # 전역변수
id(foo)

2234208905008

In [29]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))
func1(foo)

Before : a 의 주소는  2234208905008
After : aaa 의 주소는  2234318538416

In [30]:
print('foo = ', foo, '의 주소는', id(foo))

foo =  a 의 주소는 2234208905008

## 1.5 참조에 의한 호출
- 함수에 변수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [31]:
L = [1,2,3,4,5]
id(L)

2234319942016

In [32]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f.append(6)
    print('After :', f, '의 주소는 ', id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2234319942016
After : [1, 2, 3, 4, 5, 6] 의 주소는  2234319942016

In [33]:
print('L = ', L, '의 주소는', id(L))

L =  [1, 2, 3, 4, 5, 6] 의 주소는 2234319942016

# 2장 함수의 실행결과를 반환하는 return

In [34]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수(반대:전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
def fibonacci(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치수열을 append할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a) # 리스트에 append
        a,b = b, a+b
    return result

In [38]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [39]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

### 여러개 값의 return
- 여러개값을 갖는 튜플로 return

In [40]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a # return (b, a)

In [41]:
x, y = 5, 10
print('함수 실행 전 x,y =',x,y)
x,y =swap(x,y)

함수 실행 전 x,y = 5 10

In [42]:
print('함수 실행 전 x,y =',x,y)

함수 실행 전 x,y = 10 5

# 3장 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [43]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip,port)

In [44]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [ ]:
def make_url(port=80,ip): # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip,port)

## 3.2 기본변수를 기본값으로 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [45]:
i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip,port)

In [46]:
i = 8080
make_url("localhost")

'http://localhost:80'

In [ ]:
list = []
# 기본변수가 리스트,셋,딕셔너리 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

In [48]:
# 실행할 때마다 L을 공유하는 게 싫으면 
def func3(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
print(func3(10))

[10]

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [51]:
# def func3(L=None,a): #잘못된 순서
#     if L is None:
#         L=[]
#     L.append(a)
#     return L
# print(func3(10))

SyntaxError: non-default argument follows default argument (4226071863.py, line 1)

In [49]:
lst = []
print(func3(10, lst)) #순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) #키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [ ]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [17]:
# args앞에 * : args가 튜플로 전달받는다
def add(*args):
   # print('args =', args)
    '전달받은 매개변수들의 합을 return, 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [18]:
add(1,2,3)

6

In [60]:
subject = ('Python', 'web', 'java', 'DBMS')
'-'.join(subject)

'Python-web-java-DBMS'

In [62]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [ ]:
concat('Python', 'web', 'java', 'DBMS', '-')

In [63]:
# 해결책1 : 메개변수 이름을 지정해서 호출
concat('Python', 'web', 'java', 'DBMS', sep='-')

'Python-web-java-DBMS'

In [65]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
concat('Python', 'web', 'java', 'DBMS')

'Python ~ web ~ java ~ DBMS'

In [66]:
# 해결책3 : sep를 순서인수로 앞에
def concat(sep, *subject):
    return sep.join(subject)

In [68]:
concat('~', 'Python', 'web', 'java', 'DBMS')

'Python~web~java~DBMS'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [47]:
def func5(**args): # args : 딕셔너리로 전달받음
    print('이름 :', args.get('name','ㅋㅋ'))
    print('나이 :', args.get('age', 30))
    print('전화 :', args.get('tel', '없음'))
    print('주소 :', args.get('address', '서울 관악'))

NameError: name 'args' is not defined

In [95]:
def func5(**args):
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if문 True
        # args['address'] = '서울시 관악구'
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print(f"{key} : {value} ")

In [97]:
func5(name='ㅋㅋ',
     age=30,
     tel='010-999-999')

{'name': 'ㅋㅋ', 'age': 30, 'tel': '010-999-999'}
<class 'dict'>
name : ㅋㅋ
age : 30
tel : 010-999-999
address : 서울시 관악구

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [98]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [99]:
func6(10, 20, 1,2,3,4,5,6,7, name='홍', age=30, address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [100]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c, *d, e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수 e = ', e)
    print('딕셔너리인수 f = ', f)

In [102]:
func7(10,20,30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수 e =  10
딕셔너리인수 f =  {}

In [101]:
func7(10,20,30, 1,2,3,4,5,6, e=100, shape='rect', width=20, height=30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5, 6)
키워드인수 e =  100
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수앞에 * 붙임(튜플매개변수)

In [103]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [104]:
numbers = (1, 2, 3)
add(*numbers)

6

### 딕셔너리 인수 언패킹

In [111]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [112]:
func8(a='aa', b='bb', c='cc')

{'a': 'aa', 'b': 'bb', 'c': 'cc'}
('a', 'aa')
('b', 'bb')
('c', 'cc')

In [113]:
info = {'a'='aa', 'b'='bb', 'c'='cc'}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3580665625.py, line 1)

# 4장 람다식
- return 한 줄짜리 작은 익명함수

In [2]:
def add(a,b):
    return a+b
add(3,5)

8

In [4]:
add2 = lambda a, b : a + b
print(add2(3,5))
print(type(add2))

8
<class 'function'>

In [9]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요
def even_odd_chk(num):
#     if num>0:
#         if num%2:
#            result = '홀수'
#         else:
#             result = '짝수'
#     else:
#         print("양수가 아닙니다")
#     return result
    return "홀수" if num%2 else "짝수"
even_odd_chk = lambda num : "홀수" if num%2 else "짝수"
even_odd_chk(3), even_odd_chk(6)

('홀수', '짝수')

In [15]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어 보세요
def even2(a,b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result
even2 = lambda a,b : a-b if a>b else b-a
even2(3,2)

1

In [18]:
# ex3. 매개변수로 잔액을 받아, 잔액이 0이상이면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda balance : balance if balance>=0 else 'negative'
ex3(1000), ex3(-10)

(1000, 'negative')

In [24]:
# ex4 점수를 입력받아 80점이상은 'A', 60점 이상은 'B', 60점 미만은 '재시험'
                            # 100점초과, 0점 미만은 '유효하지 않음'을 return
def lvr(gra):
    if 80<= gra <=100:
        return 'A'
    elif 60<= gra <=79:
        return 'B'
    elif 0<= gra <= 59:
        return '재시험'
    else:
        return '유효하지 않음'
lvr = lambda gra : 'A' if 80<=gra<=100 else \
                    'B' if 60<= gra<80 else \
                     '재시험' if 0<=gra<60 else \
                        '유효하지 않음'
lvr(100)

'A'

In [28]:
def levelChk(score):
    if 80<=score<=100:
        return 'A팀'
    elif 60<=score<80:
        return 'B팀'
    elif 0<=score<60:
        return '재시험'
    else:
        return '유효하지 않음'
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                     'B팀' if 60<=score<80 else \
                     '재시험' if 0<=score<60 else \
                     '유효하지 않음'
ex4(0), levelChk(100)

('재시험', 'A팀')

In [31]:
score_grade = lambda score : 'A' if 90<=score<=100 else \
'B' if 80<=score<90 else \
'C' if 70<=score<80 else \
'D' if 60<=score<70 else \
'F' if 0<=score<60 else \
'유효하지 않는 점수'

점수를 입력하세요90
<function <lambda> at 0x00000296F6F9EEF0>

In [34]:
# ex5 safe_index함수를 람다식으로
def safe_index(lst, item, start=0):
    """첫번째 매개변수 lst : 리스트, 튜블
       두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
       세번째 매개변수 start : 몇번째 index부터 찾을지 index 수(기본값 : 0).
       item 요소가 없으면 -1 반환"""
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) # start번째부터 item이 있는 index를 반환
#     return -1
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else -1

i=3
lst = [i,2,3]
safe_index(lst,4), ex5(lst,3,1)

(-1, 2)

In [38]:
# 람다식을 list에 들어갈 수 있음
add = lambda a, b : a+b
sub = lambda a, b : a-b
mul = lambda a, b : a*b
div = lambda a, b : a/b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): # a,b의 사칙연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result

act_operations(2,5)
act_operations(20,5, [lambda x,y : x**y, lambda x,y : 10*x+y])

[3200000, 205]

In [39]:
operations.append(lambda x,y : x**y)
len(operations)

5

In [ ]:
act_operations(8,2) #기본값을 갖는 변수(기본 변수)가 리스트면 기본값은

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
### (1) map

In [ ]:
변수명 = 람다식

In [40]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [42]:
list_data = [1,2,3]
map_template(lambda x:x*2, list_data)

[2, 4, 6]

In [43]:
[item*2 for item in list_data]

[2, 4, 6]

In [44]:
list(map(lambda x:x*2, list_data))

[2, 4, 6]

In [45]:
for data in map(lambda x:x*2, list_data):
    print(data, end=' ')

2 4 6

In [48]:
# ex1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 
            #[5000,5000,6000,1000]식으로 바꾸시오
prices = ['5,000','5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
          return int(value.replace(',',''))
prices_int = map(lambda value : int(value.replace(',','')), prices)
for prices in prices_int:
    print(prices, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [ ]:
def split_date(date):
    split_date = date.split('-')
    return split_date
split_date('2000-01-01')

In [8]:
# ex2. members1 을 members2로
# members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
# {'name':'신길동', 'birth':'1995-12-18'},]를
# members2 = [
# {'name':'홍길동', 'year':2000, 'month':1,'day':1},
# {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환

members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]

def split_date(date):
    result = []
    return {'year': int(date['birth'].split('-')[0]),
           'month':int(date['birth'].split('-')[1]),
           'day':int(date['birth'].split('-')[2])}

def member_preprocessing(member):
    return{
        'name' : member.get('name','이름없음'),
        'year' : int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day'  : int(member.get('birth').split('-')[2]),
    }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [10]:
members2 = list(map(lambda member :{
                    'name' : member.get('name','이름없음'),
                    'year' : int(member.get('birth').split('-')[0]),
                    'month': int(member.get('birth').split('-')[1]),
                    'day'  : int(member.get('birth').split('-')[2]),
                    }, members1))
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [18]:
# 'year':2000, 'month':1,'day':1 -> 'birth':'1995-12-18'
def join_date(data):
#     return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
#      return "{year}-{month:02}-{day:02}".format(year=data.get('year'), 
#                                                 month=data.get('month'), 
#                                                 day=data.get('day'))
      return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000,'month':1,'day':1})

{'birth': '2000-01-01'}

In [24]:
# ex3 members2 을 members1로
members2 = [
 {'name':'홍길동', 'year':2000, 'month':1,'day':1},
 {'name':'신길동', 'year':1995, 'month':12, 'day':18},]
def join_date(data):
      return "{year}-{month:02}-{day:02}".format(**data)
    
def member_preprocessing(member):
    return{
        'name' : member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)}

list(map(lambda member : {
        'name' : member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
}, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [26]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [27]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2
filter_template(lambda value : value%2!=0, list_data)

[1, 3, 5, 7, 9]

In [28]:
# 리스트컴프리헨션
[value for value in list_data if value%2!=0]

[1, 3, 5, 7, 9]

In [29]:
list(filter(lambda value : value%2!=0, list_data))

[1, 3, 5, 7, 9]

In [32]:
# ex 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리헨션)
L = [1, 1.2, 1.5, 2.0, 3, 5, -7.1, -9.0]
list(filter(lambda x : x%1==0, L))

[1, 2.0, 3, 5, -9.0]

In [33]:
[item for item in L if item%1==0]

[1, 2.0, 3, 5, -9.0]

In [34]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (5, 'five'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [35]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four'), (5, 'five')]

In [38]:
#
member_2d = [[9,9], [1,100], [10,1]]
member_2d.sort(key=lambda items : sum(items), reverse=True)
print(member_2d)

[[1, 100], [9, 9], [10, 1]]

In [44]:
students = [{'name':'홍', 'score':90},
           {'name':'김', 'score':60},
           {'name':'동', 'score':80},
           {'score':100},]

In [40]:
name_select = lambda data : data.get('score')
name_select({'name':'홍', 'score':90})

90

In [46]:
# students를 name순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda data : data.get('name', '힣'))
students

[{'name': '김', 'score': 60},
 {'name': '동', 'score': 80},
 {'name': '홍', 'score': 90},
 {'score': 100}]

In [48]:
books = \
[{'no':1, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
{'no':2, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
{'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
{'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
{'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
{'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [50]:
# no 기준으로 sort
books.sort(key = lambda book : book['no'])
books

[{'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [51]:
# title 기준으로 sort
books.sort(key = lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [53]:
# price 기준으로 sort
books.sort(key = lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [58]:
# 30200=> 30200, '12,000'=>12000, '5000'=>5000, 'ㅁ'=>0, None=>0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0
    
parse_int = lambda price : \
            int(price.replace(',',''))\
                if isinstance(price, str) and price.replace(',','').isdigit() else \
            price if isinstance(price, int) else \
            0
    
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 30200 0 0

In [59]:
# {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': '12,000} => 12000
parse_int = lambda book : \
            int(book.get('price').replace(',',''))\
                if isinstance(book.get('price'), str) and \
                                book.get('price').replace(',','').isdigit() else \
            price if isinstance(book.get('price'), int) else \
            0
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': '12,000'})

12000

In [60]:
copyBooks = books.copy() #복제
copyBooks.sort(key=lambda book : \
              int(book.get('price').replace(',',''))\
                if isinstance(book.get('price'), str) and \
                                book.get('price').replace(',','').isdigit() else \
            book.get('price') if isinstance(book.get('price'), int) else \
              0,
              reverse=True)
#copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5장 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while, ..)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)으로 사용하는 것을 피한다

In [ ]:
globals() # 전역변수 리스트

In [ ]:
all([True, True, false]) # 모든 요소가 다 True인지 여부

# 6장 연습문제

1. 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
- def get_max_min(data_list):
- get_max_min= lambda ~

2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해
    계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘,
    ‘고도비만‘ 중  하나의 상태를 출력하는 함수를 구현해 보세요.
- getBMI(kg, m):
- BMI지수 = 체중(kg) / 신장(m)의 제곱
- BMI<18.5 : 마른체형
- 18.5<=BMI<25 : 표준
- 25<=BMI<30 : 비만
- BMI >=30 : 고도비만

3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
- 리턴값은 면적과 둘레를 return하도록 구현하세요
- math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
- def get_triangle(width, height):

4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
- def mysum(fRom, end):

5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
- 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
- def get_abbrs(lst):

6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
```
def f(x,y):
    return x**y
```

7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
```
>>> ex = [1,2,3,4,5]
>>> ________________
[1,4,9,16,25]
```

8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
```
>>> a = [1,2,3]
>>> print(*a)
123
>>> print(a)
[1,2,3]
```

9. 다음 코드의 실행 결과는?
```
>>> data_info={'year':2024, 'month':9, 'day':6}
>>> result = '{year}-{month}-{day}'.format(**date_info)
>>> result
```

10. 입력받은 n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지를 return하는 함수

11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
```
>>> scalar_vector_product(5, [1,2,3,4])
[5,10,15,20]
```

## 연습문제 서술형(답만 기제)